header{
  text-align: center;
}
textarea {
  resize: none;
  width:80%;
  height:159px;
}


input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"]{
  box-sizing    : border-box;
  margin        : 0;
  vertical-align: top;
 
  width         : 80%;
  height        : 40px;                /* 入力域の高さ   */
  background    : #d9d9d9;             /* 入力域の背景色 */
  border        : 1px solid #000000;   /* 入力域の枠線   */
  border-radius : 20px;                 /* 入力域の角丸   */
  padding       : 0 10px;              /* 入力文字の余白 */
  font-size     : 100%;                /* 入力文字サイズ */
  color         : #000000;             /* 入力文字の色   */
}

input[type="file"]{
  display: none;
}
input[type="submit"]{
  width: 40%;
  height: 3rem;
  border-radius : 22px;          /* 角丸       */
  font-size     : 100%;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : #fe724c;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */  
  margin-bottom: 20px;
}
input[type="submit"]:hover{
  box-shadow: none;
}



.food_label{
  margin-top: 20px;
}
.food_label label,textarea,select{
  margin-left: 10%;
}
.food_label>input[type="text"],input[type="number"]{
  margin-left: 10%;
}
select{
  width: 80%;
  height        : 40px;
  background    : #d9d9d9;
  border        : 1px solid #000000;
  border-radius : 20px;
  font-size     : 100%;
  color         : #000000;
  text-align: center;
}
.lab_pop{
  /* ポップアップのラベル */
  display: block;
  width         : 80%;
  height        : 30px;
  background    : #d9d9d9;
  border        : 1px solid #000000;
  border-radius : 20px;
  font-size     : 100%;
  color         : #000000;
  text-align: center;
  padding-top: 10px;
}

.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}

#pop-up {
	display: none; /* label でコントロールするので チェックボックス は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
  /* チェックボックスにチェックが入ったら、ポップアップと背景を表示する */
	/* display: block; */
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
  /* ポップアップの画面 */
  display: none;
	width: 70%;
	height: auto;
	background-color: #ffffff;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  max-height: 70%;
}
/* .text {
	font-size: 18px;
	margin: 0;
} */
.pop_batu{
  /* ポップアップの右上の×を囲うdivタグ */
  margin-right: 5px;
  text-align: right;
}
.close {
  /* ポップアップの右上の× */
	cursor:pointer;
	font-size: 2rem;
}

.food_r_pop{
  /* ポップアップのサイズと値段の項目名をまとめるdivタグ */
  display: flex;
  justify-content: space-around;
}
.food_r_pop label{
  margin-left: 0;
}
.food_r_pop_size{
  padding-right: 5%;
}
.food_r_pop_price{
  padding-right: 20%;
}

.line_area{
  overflow-y: scroll;
}
.size_batu{
  /* ポップアップのサイズの左にある× */
  vertical-align: baseline;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 10%;
  color: #000000;
}
.size_line{
  /* ポップアップの×とサイズと価格をセットにするdivタグ */
  display: inline-flex;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 90%;
}
.line_in{
  /* ポップアップの＋サイズを追加のlabel */
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  font-size: 100%;
  margin-left: 10%;

  

}
.btn_area{
  /* ポップアップの登録ボタンを囲うdivタグ */
  text-align: center;
}
.btn_in{
  /* ポップアップの登録ボタン */
  width: 40%;
  height: 3rem;
  border-radius : 22px;          /* 角丸       */
  font-size     : 100%;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 10px 10px;   /* 余白       */
  background    : #fe724c;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */ 
  margin-top: 1rem; 
  margin-bottom: 20px;
}

.pop_txt{
  /* ポップアップのサイズ名と価格の入力欄 */
  margin-left: 0px;
}

.file_name{
  /* 選択された画像名が出るpタグ */
  margin: 0 0 0 1rem;
  display: inline-block;
}
.en{
  margin-bottom: 0;
}

.option_look{
  margin-left: 10%;
}
.opt_list{
  font-family: none;
  font-size: 1rem;
}

.btn_div{
  /* 一番下のボタンのdiv */
  text-align: center;
}

