/* header{
    font-size: 30px;
    text-align:center;
    margin-top: 30px;
}
.error{
    color: #F00;
    font-size: 5px;
    margin-left: 10%;
    margin-right: 10%;
}
.btn{
    margin-top: 20%;
    margin-bottom: 20px;
    text-align: center;
}
.btn_{
    background-color: #FE724C;
    font-size: 100%;
    width: 40%;
    height: 3rem;
    border-radius: 22px;
    color: #fff;
    padding : 10px 10px; 
}
label{
    margin-left: 10%;
}
.account_input{
    text-align: center;
}
.email,.pass,.pass2{
    box-sizing    : border-box;
    margin        : 0;
    vertical-align: top;
   
    width         : 80%;
    height        : 40px;             
    background    : #d9d9d9;           
    border        : 1px solid #000000;   
    border-radius : 20px;               
    padding       : 0 10px;             
    font-size     : 100%;              
    color         : #000000;             
}
.account{
    margin-top: 15%;
} */
