/* .App {
  text-align: center; 
  border-bottom: 5px solid black;
  padding-top: 10px;
  margin: 30px;
  display: flex;
}
.ff{
  padding-right: 0px ;
}
.hh {
  padding-left: 0px;
}


.cart{
  /* text-align: center; */
}
  border-bottom: 5px solid black;
  padding-bottom: 10px;
  margin: 30px;
  display: flex;
  justify-content:space-around;
}
.hidari{
  margin-left: 0px;
  margin-right: 150px;
  font-size: 30px;
}
.btn{
  display: flex;
  justify-content:space-around;

}
.h1 .h2{
  font-size: 30px;
}
.btn_cart{
  margin-top: 20px;
  background-color: #FE724C;
  font-size: 100%;
  width: 30%;
  height: 3rem;
  border-radius: 22px;
  color: #fff;
}
.btn_pm{
  margin-top: 20px;
  background-color: #FE724C;
  font-size: 100%;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  color: #fff;
}
.sazi{
  display: flex;
  justify-content:space-around;
  margin: 30px;
}

.line{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin: 30px;
}
.scl{
  overflow-y: scroll;
  margin-bottom: 30px;
}
.a{
  border-bottom: 5px solid black;
  padding-bottom: 30px;
}
.fin{
  font-size: 30px;
}
.syoukei{
  border-top: 5px solid black;
  display: flex;
  justify-content:space-around;
  margin-bottom: 30%;
}
.gou{
  font-size: 50px;
}
.btn_personal{
  margin-top: 20px;
  background-color: #FE724C;
  font-size: 100%;
  width: 30%;
  height: 3rem;
  border-radius: 22px;
  color: #fff;

  display: block;
  width: 150px;
  margin: 0 auto;
}
.overlay {
  display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
  /* チェックボックスにチェックが入ったら、ポップアップと背景を表示する */
  display: block;
  z-index: 9999;
  background-color: #00000070;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
