.current_input{
    text-align: center;
}
.current_p{
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 10%;
}
.current{
    margin-top: 20%;
    margin-bottom: 20%;
}
.current_mess{
    margin-left: 10%;
    margin-right: 10%;
}