.final_confima{
    margin-left: 5%;
    margin-right: 5%;
}
.final_cart{
    position: relative;
}
  .back_f{
    position: absolute;
    margin-top: 15px;
    padding-bottom: 0;
    margin-left: 5%;
    z-index: 1;

    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateX(25%) rotate(-135deg);
  }
  .ptag{
    text-align: center;
  }
.back_f{
margin-right: 0px;
margin-bottom: 30px;
}
.ct_moji1{
  margin-top: 0;
  margin-bottom: 10%;
  padding-top: 10px;
text-align: center;
font-size: 20px;
}
.tyu{
  color: red;
}
.perso_nm, .perso_ph {
  border-bottom: 1px solid black;
  text-align: left;
  margin: 5px;
  padding-left: 20px;
}
.left_per{
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
  .scl{
    overflow-y: scroll;
    margin-bottom: 30px;
  }
  .final_line{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 5px;
  }
  .final_title{
    font-size: 20px;
    text-align: left;
  }
  .final_sazi{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: left;
  }
  .per_fl{
    display: flex;
    justify-content:space-between;
    padding-left: 0px;
    margin-left: 0px;
  }
  .f_c_p{
    padding-right: 10%;
  }
  .final_fin{
    text-align    : center; 
    cursor        : pointer; 
    padding-left: 60px;
    background    : none; 
    margin-bottom: 20px;
    border: none;
    
  }
  .final_gou{
    font-size: 30px;
    padding-right: 10%;
  }

  .btn_pm{
    margin-top: 20px;
    background-color: #FE724C;
    font-size: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: #fff;
  }

  .final_syoukei{
    display: flex;
    justify-content:space-between;
    margin-bottom: 10%;
  }
  .yohaku{
    margin-top: 10px;
  }

  .btn_personal{
    margin-top: 20px;
    background-color: #FE724C;
    font-size: 100%;
    width: 40%;
    height: 3rem;
    border-radius: 22px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 10%;
  }