.food_furu{
    margin-left: 5%;
    margin-right: 5%;
}
.hurucart{
    border-bottom: 5px solid black;
    display: flex;
    justify-content:space-around;
  }
  .fd_ct{
    position: relative;
}
  .back_fd{
    position: absolute;
    margin-top: 16px;
    margin-bottom: 0;
    margin-left: 5%;
    padding-top: 8px;
    z-index: 1;

    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateX(25%) rotate(-135deg);
  }
  .ct_moji{
    margin-top: 3px;
    font-size: 30px;
  }
  .btn_cart{
    background-color: #FE724C;
    font-size: 50%;
    width: 30%;
    height: 3rem;
    border-radius: 22px;
    color: #fff;


  }
  .scl{
    overflow-y: scroll;
    margin-bottom: 30px;
  }
  .top_line{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: 5px;
  }
  .food_sazi{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    padding-left: 10px;
  }
  .fin{
    cursor        : pointer; 
    /* padding       : 10px 10px;  */
    font-size: 25px;
    padding-right: 40px;
    background    : none; 
    margin-bottom: 20px;
    border: none;
  }

  .btn_am{
    margin-top: 20px;
    background-color: #ffffff;
    font-size: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: #FE724C;
    margin-right: 20px;
  }
  .btn_pm{
    margin-top: 20px;
    background-color: #FE724C;
    font-size: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: #fff;
    margin-left: 20px;
  }
  .count_fl{
    display: flex;
    /* justify-content:space-between; */
    /* margin-top: 10px;
    padding-left: 10px; */
  }
  .count_sazi{
    display: flex;
    justify-content:space-between;

  }
.food_caunt{
  margin-bottom: 0;
  padding-top: 5px;
}
 
  .syoukei{
    border-top: 5px solid black;
    display: flex;
    justify-content:space-around;
    margin-bottom: 30%;
  }
  .yohaku{
    margin-top: 50px;
  }
  .gou{
    font-size: 50px;
  }
  .btn_personal{
    margin-top: 20px;
    background-color: #FE724C;
    font-size: 100%;
    width: 40%;
    height: 3rem;
    border-radius: 22px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

.food_change{
  margin-right: 10px;
  margin-bottom: 10%;
}
.food_change_btn{
  margin-right: 10px;
  margin-bottom: 10%;

  box-sizing: border-box;
  width: 60px;
  height: 27px;

background: #FFFFFF;
border: 1px solid #000000;
border-radius: 10px;
}
.food_money{
  padding-top: 20px;
}
/* パソコン画面のCSS */
@media screen and (min-width: 481px){
  .food_sazi{
    display: flex;
    justify-content:space-between;
    margin-top: 10px;
    padding-left: 10%;

  }
  .food_change{
    margin-right: 10%;
    margin-bottom: 10%;

  }
  .food_change_btn{
    margin-right: 10%;
    margin-bottom: 10%;
  }
  .count_fl{
    display: flex;
    margin-left: 10%;
  }
  .food_money{
    padding-top: 20px;
    padding-right: 10%;
  }
}