.hurucart{
    /* text-align: center; */
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    margin: 30px;
    display: flex;
    justify-content:space-around;
  }
  .ct_moji{
    margin-left: 0px;
    margin-right: 150px;
    font-size: 30px;
  }
  .btn_cart{
    margin-top: 20px;
    background-color: #FE724C;
    font-size: 100%;
    width: 30%;
    height: 3rem;
    border-radius: 22px;
    color: #fff;
  }
  .scl{
    overflow-y: scroll;
    margin-bottom: 30px;
  }
  .top_line{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin: 30px;
  }
  .mj_sazi{
    display: flex;
    justify-content:space-around;
    margin: 30px;
  }
  .fin{
    text-align    : center; 
    cursor        : pointer; 
    padding       : 10px 10px; 
    background    : none; 
    margin-bottom: 20px;
    border: none;
  }
  .btn_pm{
    margin-top: 20px;
    background-color: #FE724C;
    font-size: 100%;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: #fff;
  }


  .h1 .h2{
    font-size: 30px;
  }

  .a{
    border-bottom: 5px solid black;
    padding-bottom: 30px;
  }
 
  .syoukei{
    border-top: 5px solid black;
    display: flex;
    justify-content:space-around;
    margin-bottom: 30%;
  }
  .yohaku{
    margin-top: 50px;
  }
  .gou{
    font-size: 50px;
  }
  .btn_personal{
    margin-top: 20px;
    background-color: #FE724C;
    font-size: 100%;
    width: 40%;
    height: 3rem;
    border-radius: 22px;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
