  /* チェックボックスを非表示にする */
  .drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    position: relative;
    /* 重なり順を一番上にする */
    z-index: 100;
  }
  .hanbergar{
      padding-right: 50px;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .nav_content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
    display: flex;
    flex-direction: column;
  }
  
  /* メニュー黒ポチを消す */
  .nav_list {
    margin-top: 100px;
    list-style: none;
    display: list-item;
  }
  .nav_item{
    display: block;
    margin-left: 15%;
    margin-bottom: 30px;
    background-color: #FE724C;
    font-size: 100%;
    width: 60%;
    height: 3rem;
    border-radius: 22px;
    color: #fff;
    /* padding : 10px 10px;  */
  }
  .nav_rog{
    margin-top: 100px;
  }
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
    left: 0;/* メニューを画面に入れる */
  }

  .store_h1_size{
    text-align: center;
    margin: 0;
  }
  #overlay{
    /*　画面全体を覆う設定　*/
      position:fixed;
      top:0;
      left:0;
      width:100%;
      height:100%;
      background-color:rgba(0,0,0,0.5);
    
      /*　画面の中央に要素を表示させる設定　*/
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
    #header_content {
      z-index: 2;
      width: 80%;
      padding: 1em;
      background: #fff;
    }
    .rog_btn{
      margin:10px;
      background-color: #FE724C;
      font-size: 80%;
      width: 40%;
      height: 3rem;
      border-radius: 22px;
      color: #fff;
      padding : 10px 10px; 
    }