.pass_change_input{
    text-align: center;
}
.pass_change_label{
    margin-left: 10%;
}
.pass_change{
    margin-top: 20%;
    margin-bottom: 20%;
}
.error{
    font-size: 5%;
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 10%;
    color: #F00;
}