.personal_back{
    position: relative;
    margin-top: 5%;
}
.personal_back_bt{
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 0;
    z-index: 1;

    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 0.1em solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateX(25%) rotate(-135deg);
}

.personal_h1{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}
.personal_name{
    margin-left: 10%;
}
.account_in{
    text-align: center;
}
.email,.pass,.pass2,.text{
    box-sizing    : border-box;
    margin        : 0;
    vertical-align: top;
   
    width         : 80%;
    height        : 40px;             
    background    : #d9d9d9;           
    border        : 1px solid #000000;   
    border-radius : 20px;               
    padding       : 0 10px;             
    font-size     : 100%;              
    color         : #000000;             
}
.account_kiyaku{
    margin-top: 7%;
}
.personal_form{
    margin-top: 5%;
    text-align: center;
}
.btn_kk{
    display: flex;
    justify-content:space-around;
  
  }
  .personal_box{
    margin-left: 10%;
    width: 80%;                
    height: 300px;               
    border: 1px solid #000;    
    overflow-y: scroll;  
}
.account_huru{
    margin-bottom: 20%;
}
.personal_check{
    margin-bottom: 10%;
}
.kiyaku{
    margin-top:10%;
}
.btn_{
    background-color: #FE724C;
    font-size: 100%;
    width: 40%;
    height: 3rem;
    border-radius: 22px;
    color: #fff;
    padding : 10px 10px; 
}