/* .login_input{
    text-align: center;
}
.login{
    margin-top: 20%;
    margin-bottom: 20%;
}
.pass_btn{
    text-align: right;
    margin-right: 10%;
    margin-top: 5%;
}
.pass_btn_{
    font-size: 10%;
    background: none;
    border: none;
    border-bottom: solid 1px;
} */