.store_data_label{
    margin-left: 10%;
}
.store_input{
    text-align: center;
}
.store_data{
    margin-top: 10%;
}
.store_data_label{
    margin-left: 10%;
}
.store_img1{
    box-sizing    : border-box;
    vertical-align: top;
    margin: 0 10%;
   
    width         : 80%;
    height        : 40px;                /* 入力域の高さ   */
    background    : #d9d9d9;             /* 入力域の背景色 */
    border        : 1px solid #000000;   /* 入力域の枠線   */
    border-radius : 20px;                 /* 入力域の角丸   */
    padding       : 0 10px;              /* 入力文字の余白 */
    font-size     : 100%;                /* 入力文字サイズ */
    color         : #000000;             /* 入力文字の色   */
}
.lab_pop1{
    /* ポップアップのラベル */
    display: block;
    width         : 80%;
    height        : 30px;
    background    : #d9d9d9;
    border        : 1px solid #000000;
    border-radius : 20px;
    font-size     : 100%;
    color         : #000000;
    text-align: center;
    padding-top: 10px;
    margin-left: 10%;
  }
  